.quotes
  font-size: 1.6em
  margin: 0 .5em 0 0
  min-width: 5em
  flex-shrink: 0
  padding-bottom: .5em

  .block
    justify-content: center

  .id
    font-size: .8em
    font-weight: 700

  .value
    font-size: 1.5em
    justify-content: center
    align-items: center
    padding: .1em .4em
    margin: 0 0 .1em .2em
    border-radius: .3em
    font-weight: bolder
    background-color: black
