.quotes
  padding: 0 1.2rem
  font-size: 1.6em
  min-width: 5em
  flex-shrink: 0

  .block
    justify-content: center

  .id
    font-size: .8em
    font-weight: 700

  .value
    font-size: 1.5em
    justify-content: center
    align-items: center
    padding: .1em .4em
    margin: 0 .2em 0 .2em
    border-radius: .3em
    font-weight: bolder
    background-color: black
