.news
  flex-grow: 1
  align-items: center
  font-size: .8em
  margin-left: 1em

  .channel
    height: 5em
    min-width: 6em
    border-radius: .5em
    background-size: contain
    background-repeat: no-repeat
    background-position: center

  .title
    padding: 0 .5em
    text-align: justify
    flex-grow: 1
